<div class="modal fade" id="available-access-level-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="available-access-level-dialog-title">Choose Access Level</h4>
      </div>
      <div id="available-access-level-dialog-body" class="modal-body">
        Choose Access Level
        <select class="form-control" id="person_level_combobox">
            <option value="user">User</option>
            <option value="manager">Manager</option>
            <option value="admin">Admin</option>
        </select>
      </div>
      <div class="modal-footer">
        <a href="" class="btn btn-primary" id="available-access-level-dialog-confirm">Confirm</a>
      </div>
    </div>
  </div>
</div>
