<table width="50%" border="1">
  <tr>
    <td>#</td>
    <td>Name</td>
  </tr>

  <% @people.each do |p| %>
  <tr>
    <td>
      <%= link_to 'Choose', "javascript: ", :onclick => "choose('#{params[:name]}', '#{params[:target]}', '#{p.id}', '#{p.name}')" %>
    </td>
    <td><%= p.name %></td>
  </tr>
  <% end %>
</table>
