<li class="dropdown">
  <% if user_signed_in? %>
    <%= link_to "Logout", destroy_user_session_path %>
  <% elsif %>
    <a href="#" class="dropdown-toggle" data-toggle = "dropdown">
      Sign In <span class="caret"></span
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Sign in With Facebook", user_omniauth_authorize_path('facebook') %></li>
      <li><%= link_to "Sign in With Twitter", user_omniauth_authorize_path('twitter') %></li>
    </ul>
  <% end %>
</li>
