<li class="dropdown">
  <% if person_signed_in? %>
    <%= link_to "Logout", destroy_person_session_path %>
  <% else %>
    <a  href="#" class="dropdown-toggle" data-toggle= "dropdown">
      Sign In <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
      <li><a href="<%= person_omniauth_authorize_path('facebook') %>"><b class="fa fa-facebook-square"> </b> Sign in with Facebook</a></li>
      <li><a href="<%= person_omniauth_authorize_path('twitter') %>"><b class="fa fa-twitter-square"> </b> Sign in with Twitter</a></li>
    </ul>

  <% end %>
</li>
