<h4>To confirm the following schedule, please input your valid email below</h4>
<%= render 'direct_confirmation', url: confirm_from_email_path(@schedule.random_id), submit_text: "Confirm My Schedule", is_reject: false %>
