<h4>To reject the following schedule, please input your valid email & reason below</h4>
<%= render 'direct_confirmation', url: reject_from_email_path(@schedule.random_id), submit_text: "Reject My Schedule", is_reject: true %>
