
development:
  MAIL_SERVICE_APP_USERNAME: xxxxxxxxx
  MAIL_SERVICE_APP_PASSWORD: xxxxxxxxx
  MAIL_SERVICE_APP_SMTP_HOSTNAME: xxxxxxxxx
  MAIL_SERVICE_APP_DOMAIN: xxxxxxxxx
  MAIL_SERVICE_APP_PORT: xxxxxxxxx
  FACEBOOK_APP_ID: xxxxxxxxx
  FACEBOOK_SECRET: xxxxxxxxx
  TWITTER_CONSUMER_KEY: xxxxxxxxx
  TWITTER_CONSUMER_SECRET: xxxxxxxxx
  MYSQL_PASSWORD: xxxx
  DEFAULT_MAILER_ADDRESS: xxx@xxx.com
  cloud_name: xxxx
  api_key: xxxx
  api_secret: xxxx
  enhance_image_tag: xxxx
  static_image_support: xxxx

production:
  MAIL_SERVICE_APP_USERNAME: xxxxxxxxx
  MAIL_SERVICE_APP_PASSWORD: xxxxxxxxx
  MAIL_SERVICE_APP_SMTP_HOSTNAME: xxxxxxxxx
  MAIL_SERVICE_APP_DOMAIN: xxxxxxxxx
  MAIL_SERVICE_APP_PORT: xxxxxxxxx
  FACEBOOK_APP_ID: xxxxxxxxx
  FACEBOOK_SECRET: xxxxxxxxx
  TWITTER_CONSUMER_KEY: xxxxxxxxx
  TWITTER_CONSUMER_SECRET: xxxxxxxxx
  MYSQL_PASSWORD: xxxxxxxxx
  DEFAULT_MAILER_ADDRESS: xxx@xxx.com
  cloud_name: xxxx
  api_key: xxxx
  api_secret: xxxx
  enhance_image_tag: xxxx
  static_image_support: xxxx
