<h3>Halo, <%= @person.name %>!</h3>

<p>Terima kasih sudah melakukan pendaftaran di Sonata!</p>
<p>Akun Anda sudah disetujui dan Anda secara resmi terdaftar sebagai pelayan di GII Semanggi.
  Semua permintaan jadwal pelayanan akan dikirimkan ke email Anda yang terdaftar (<%= @person.email %>).
  Anda dapat melakukan persetujuan/penolakan jadwal yang diminta dengan login menggunakan akun

  <% if @person.provider.blank? %>
    email (<%= @person.email %>)
  <% else %>
    <%= @person.provider %>
  <% end %>

   Anda.</p>

<hr/>
Selamat melayani!
