<table width="50%" border="1">
  <tr>
    <td>#</td>
    <td>Name</td>
  </tr>

  <% @roles.each do |a| %>
  <tr>
    <td>
      <%= link_to 'Choose', "javascript: ", :onclick => "choose('#{params[:name]}', '#{params[:target]}', '#{a.id}', '#{a.name}')" %>
    </td>
    <td><%= a.name %></td>
  </tr>
  <% end %>
</table>
