<div class="container">
  <div class="row">
    <%= form_for @role, :html => {:role => "form", :class => "form-horizontal"}  do |s| %>
      <div class="form-group">
        <div class="col-xs-4">
          <%= s.label :name, :for => "roleName" %>
          <%= s.text_field :name, :class => "form-control", :id => "roleName", :placeholder => "Enter Role Name" %>
        </div>
      </div>

      <%= s.submit :class => "btn btn-default" %>
    <% end %>
  </div>
</div>
